@keyframes bounce {
    0%,
    30%,
    60% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-30px);
    }

    40% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes roll {
    0% { 
       opacity: 0; 
       transform: translateX(-100%) rotate(-150deg); 
    }
    100% { 
       opacity: 1; 
       transform: translateX(0px) rotate(0deg); 
    }
 }

body {
    margin: 0;
    background: #FFF;
}

header {
    position: relative;
    background-color: #C8102E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.authError{
    position: absolute;
    font-family: Helvetica;
    font-size:1rem;
    bottom:0;
    margin-left:1rem;
    color: #FF9;
}

.regError{
    color: #FF9;
}

.heading{
    font-family:cursive;
    font-size:1.2rem;
    margin:0;
    background-color: #FF9;
    text-align:center;
}

header .mainHeader{
    position: relative;
    margin-left: 5.5rem;
}

#icon{
    position: absolute;
    width: 70px;
    right: 190px;
    top: 35px;
    animation: roll 2s forwards,bounce 2.2s 2.1s forwards;
}

header h1 {
    font-family: cursive;
}

header h1 a{
    margin-left: 40px;
    text-decoration: none;
    color: #FFF;
}

header p {
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

header .mode{
    position: absolute;
    right: 2.5rem;
}

header .mode img{
    width: 2rem;
    cursor: pointer;
}

main {
    margin: 5rem auto;
    background: url('../images/liverpoolLogo.png') no-repeat;
    background-size: 20rem;
    background-position: 20% 0;
    max-width: 1500px;
}

#authorization{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#authorization input {
    width: 30%;
    max-width: 400px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: none;
}

#authorization a {
    display: inline-block;
    width: 140px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    margin: 0.1rem;
}

#registration {
    max-width: 400px;
    margin: 0 auto;
    margin-right: 13rem;
    background-color: #C8102E;
    color: #FFF;
    box-shadow: 3px 3px 10px 10px hsl(0, 0%, 91%);
    padding: 0.2rem;
}

#registration h1 {
    font-family: cursive;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}

#registration p {
    margin: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid lightgray;
}

#registration .firstLastName {
    display: flex;
    justify-content: space-between;
}

#registration input{
    display: block;
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

#registration #showPass {
    display: inline;
    width: unset;
}

#registration label {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
}

#registration .firstLastName input {
    width: 40%;
}

#registration #register,#authorization #logIn{
    all: unset;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: #FFF;
    color: #000;
    border: none;
    border-radius: 5px;
}

#registration #register:hover,#authorization #logIn:hover {
    background-color: #00B2A9;
    color: #FFF;
    cursor: pointer;
}

input {
    outline: none;
    border: 1px solid transparent;
}

input:focus{
    border: 1px solid lightskyblue;
}

@media screen and (max-width:1100px) {
    header {
        flex-flow: column nowrap;
    }

    .authError{
        bottom:2rem;
    }

    header .mainHeader{
        margin-left: 0;
    }

    #icon{
        right: 220px;
    }

    header .mode{
        right: 0.3rem;
        top: 1.5rem;
    }

    header a {
        text-align: center;
    }

    main{
        background: unset;
        padding: 0.5rem;
    }

    header p{
        text-align: center;
        margin-left: 1rem;
    }

    header h1:before{
        content: "he";
        color: transparent;
        background: url('../images/liverpoolLogo.png') no-repeat;
        background-size: 2.5rem;
        background-position: 0;
        position: absolute;
    }

    #registration{
        margin:0 auto;
    }
}
